@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
body,
button {
  font-family: "Inter", sans-serif;
}
:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
}
.sidebar-nav {
  width: var(--offcanvas-width);
}
.sidebar-link {
  display: flex;
  align-items: center;
}
.sidebar-link .right-icon {
  display: inline-flex;
}
.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }
  main {
    margin-left: var(--offcanvas-width);
  }
  /* this is to remove the backdrop */
  .offcanvas-backdrop::before {
    display: none;
  }
  .sidebar-nav {
    -webkit-transform: none;
    transform: none;
    visibility: visible !important;
    height: calc(100% - var(--topNavbarHeight));
    top: var(--topNavbarHeight);
  }
}

.me-2{
  font-size: 50px;
}
.nav{
  background-color: #09f67f;
}
.navtext{/* Href*/
  color: white;
}
.navside{
  background-color: black;
}
/*Sidebar*/
/* CSS for sidebar transition */
.offcanvas.sidebar-nav {
  position: fixed;
  top: 96px;
  left: -300px; /* Initially hidden */
  width: 300px; /* Width of the sidebar */
  height: 100%;
  background-color:#09f67f; /* Change this to your desired background color */
  transition: left 0.2s ease; /* Add a transition effect */
}
.offcanvas.show.sidebar-nav {
  left: 0; /* Show the sidebar when the 'show' class is added */
}
.btnaddmed{
  height: 50px;
  width: 180px;
}